<br>
<h2>Practo</h2>
<hr>
<p>For millions of people, Practo is the trusted and familiar home where they know they’ll find a healing touch. It 
    connects them with everything they need to take good care of themselves and their family - assessing health issues, 
    finding the right doctor, booking diagnostic tests, obtaining medicines, storing health records or learning new ways 
    o live healthier.Healthcare providers can also harness the power of Practo as the definitive platform that helps them build their presence, grow establishments and engage patients more deeply than ever.
</p>